<footer class="footer">
    <div class="footer-container">
        <a href="/"><img class="footer-logo" src="/img/logo.png" alt="Logo" width="50"></a>
        <div class="copyright">
            &copy; 2025 Your Company. All Rights Reserved.
        </div>
    </div>
</footer>