<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<!-- fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<!-- fonts -->

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<%- include('../views/partials/css/auth.style.ejs') %>

</head>

<body>
	<section class="py-5 d-flex align-items-center LogIn__container">
		<div class="LogIn__contact_box">

			<a class="homeLink" href="/">
				<div class="LogIn__left">
					<h3 class="LogIn__lefth3">Pill Box™</h3>
				</div>
			</a>

			<div class="LogIn__right">
				<h2 class="LogIn__h2">Buy your needs, with ease!</h2>
				
				<form action="/auth/signup" method="POST">
					<input type="text" name="name" class="LogIn__field" placeholder="name" required />
					<input type="number" name="age" class="LogIn__field" placeholder="age" required />
					<input type="text" name="email" class="LogIn__field" placeholder="e-mail" required />
					<input type="password" name="password" class="LogIn__field" placeholder="password" required />
					<input type="password" name="confirmPassword" class="LogIn__field" placeholder="confirm password" required />
					<button class="LogIn__btn1 mt-3">Sign up</button>
					
					<div class="LogIn__rowDiv mt-3">
						<a class="LogIn__btn2 mt-3" href="/auth/signin">
							<button type="button">Sign in</button>
						</a>
						<a class="LogIn__btn2 mt-3" href="/">
							<button type="button">Home</button>
						</a>
					</div>
				</form>

			</div>




		</div>
	</section>

</body>

</html>