<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Pill Box - Your Trusted Pharmacy</title>

    <!-- favicon -->
    <link type="image/png" sizes="32x32" rel="icon" href="/img/favicon.ico">

    <!-- Adding style to the page -->
    <%- include('../views/partials/head') %>
  </head>
  <body>
    <!-- Adding header to the page -->
    <%- include('./partials/header') %>
    
    <main>
      <section class="section-hero grid--c-1-1 hero-home">
        <div class="hero welcome-container">
          <h1 class="heading-primary">Welcome to Pill Box <% if(user.isDoctor) { %> Dr. <% } %><%= user.name %>!</h1>
          <p class="heading-description">
            Your trusted pharmacy for quality medications, health products, and expert care—all in one place.
          </p>

          <a href="/medicines" class="box-button box-button-filled">Our products →</a>
        </div>

        <div class="hero hero-image-container">
          <img src="/img/home-image.svg" alt="Home Page" />
        </div>
      </section>
    </main>
    <!-- Adding header to the page -->
    <%- include('./partials/footer') %>
    
    
   
  </body>
</html>