<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<%- include('../partials/css/new.style.ejs') %>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- jQuery -->


<!--Font awsome kit-->
<script src="https://kit.fontawesome.com/f5852314e7.js" crossorigin="anonymous"></script>
<!--Font awsome kit-->

</head>
<body>
    
	<section class="py-5 d-flex align-items-center LogIn__container">
		<div class="LogIn__contact_box">

			<a class="homeLink" href="/">
				<div class="LogIn__left">
					<h3 class="LogIn__lefth3">Pill Box™</h3>
				</div>
			</a>

			<div class="LogIn__right">
				<h2 class="LogIn__h2">Edit medicine</h2>
				
				<form action="/medicines/new/" method="POST">
					<input type="text" name="commercialName" class="LogIn__field" placeholder="Commercial Name" required />
					<input type="text" name="medicinName" class="LogIn__field" placeholder="Medical Name" required />
					<input type="number" name="price" class="LogIn__field" placeholder="price (BHD)" required />
					<input type="text" name="image" class="LogIn__field" placeholder="Image URL" required />
					<input type="date" name="expiryDate" class="LogIn__field" placeholder="Expiry Date" required />
					<button class="LogIn__btn1 mt-3">Update</button>
					
					<div class="LogIn__rowDiv mt-3">												
					</div>
				</form>

			</div>




		</div>
	</section>


    <script>
        
        $(document).ready(function(){
  
          $(window).scroll(function(){
            
              var scroll = $(window).scrollTop();
      
              if (scroll > 50) {
                $("#navbr").css({"background-color": "rgba(255, 255, 255, 0.129)", "backdrop-filter": "blur(17px)"})
      
              } else {
                    $("#navbr").css({"background-color": "transparent", "backgdrop-filter": "blur(0px)"});  	
                }
          })
      })






      //DO CERTAIN FUNCTION ON A 768PX WIDTH

      // Create a media condition that targets viewports at least 768px wide
       // const mediaQuery = window.matchMedia('(max-width: 768px)')

        // Check if the media query is true
        //if (mediaQuery.matches) {
          
         //do something
        //}


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>